/* @import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
.wrapper{
    display: flex;
}
.navigation{
    width:25%;
    height: 100%;
    border-right: solid 2px gainsboro;
    position: fixed;
    box-sizing: border-box;
}
.navigation-wrapper{
    margin-top:100px;
}
.command{
    height:30px;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 100px;
}
.command img{
    width:30px;
    height:30px;
    vertical-align: middle;
    border-radius: 50%;
}
.command span{
    font-size: 30px;
    font-family: 'Sawarabi Mincho', sans-serif;
}
.command a{
    text-decoration: none;
    color:black;
    transition:0.5s;
}
.command a:hover{
    background-color: skyblue;
    color:white;
    border-radius: 5%;
    height:30px;
}
.fa-twitter{
    color:#2CA7E0;
}
main {
    margin-left: 25%;
    width:40%;
    height:1000px;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    align-items: center;


}
.theme{
    width:100%;
    border-bottom:2px solid gainsboro;
    box-sizing: border-box;
    padding-bottom: 15px;
    position: relative;
}
.img{
    width:100%;
    height:90%;
}
.participants{
    width:100%;
    height:10%;
    display:inline-flex;
    justify-content: space-around;
}
.participants span{
    font-size: 20px;
    color: darkgray;
    line-height: 50px;
}
.right-side{
    width:30%;
    height:1000px;
    border-left:solid 2px gainsboro;
    box-sizing: border-box;
}

.right-side form{
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
}
.right-side input{
    width:200px;
    height: 30px;
    position: absolute;
    left:0;
    top:0;
}
.right-side button{
    position: absolute;
    left:175px;
    top:0;
    height:35px;
    width:35px;
}

.modal_window{
    width:100%;
    height: 100%;
    left:0%;
    position:fixed;
    display: none;
    flex-direction: column;
    align-items:center;
    background:rgba(124,124,124,0.8) ;
    z-index:1;
    align-content: center;
    justify-content: center;
}
.modal_window_wrapper{
    display: flex;
    flex-direction: column;
    width:30%;
    height:50%;
    background-color: white;
    justify-content: space-around;
    text-align: center;
}
.modal_window textarea{
    margin: 0 auto;
    width:70%;
    height:40%;
    margin-bottom:20px;
}

.tweet_btn{
    margin: 0 auto;
    display:block;
    width:100px;
    height:30px;
    background-color: #2CA7E0;
    color:white;
}
.close_btn{
    margin: 0 auto;
    width:100px;
    height:30px;
    background-color: snow;
    margin-bottom: 20px;
}
.theme_form{
    margin:auto 0;
    text-align:center;
}
.theme_textarea{
    text-align: center;
    margin:0 auto;
    
    font-size:25px;
}  */


@media screen and (max-width:767px){
    body{
        background-color: #FEFFFE;
    }

    header{
        width: 100vw;
        height:10vh;
        border-bottom: solid;
        border-color: gray;
    }
    header img{
        width: 50px;
        height: 50px;
    }

    main{
        width: 100%;
    }
    #descript{
        line-height: 25px;
    }
    #zigazo-wrapper{
        height:100%;
        float: left;
    }
    #zigazo{
        width:70px;
        height: 220px;
        margin-right: 15px;
        margin-left: 15px;
    }
    }
    .theme-space{
        height:50px;
        background-color: #f0f0f0;
    }
    .theme img{
        width: 100%;
        height: 250px;
    }
    .participants{
        height:30px;
        text-align: center;
        font-size: 25px;
    }
    


    nav{
        height:10vh;
        background-color: red;
    }
}