{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Onigiri</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% comment %} <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@mani18041601" /> 
    <meta property="og:url" content="https://omusubi.herokuapp.com" /> <!--③-->
    <meta property="og:title" content="Onigiri" /> <!--④-->
    <meta property="og:description" content="twitter大喜利大会サイト" /> <!--⑤-->
    <meta property="og:image" content="https://manibacket.s3-ap-northeast-1.amazonaws.com/media/onigiri.jpeg"/>  
    {<meta property="og:url" content="https://omusubi.herokuapp.com/detail/{{competition.id}}" /> 
    <meta property="og:title" content="お題" /> <!--④-->
    <meta property="og:description" content="大喜利" /> <!--⑤-->
    <meta property="og:image" content="https://manibacket.s3.amazonaws.com/media/img_{{competition.id}}.jpg"/>   {% endcomment %}
    <meta name="description" content="Onigiriは大喜利のお題をサイトに投稿&回答してtwitter上にあげることできるサービスです。目指せ大喜利王！">
    <meta name="keywords" content="大喜利,twitter,ボケて,ipponグランプリ">
    <meta name="google-site-verification" content="xuxHLYZj134Bd6mj2ZrTdUvLaJaQtEvOwINCShiP4HA" />
    <script src="https://kit.fontawesome.com/9110abeef8.js" crossorigin="anonymous"></script>
    <script src="{% static "script.js" %}"></script>
</head>


<body>
    {% block extrahead %}
    <link href="{% static 'reset.css' %}" rel="stylesheet" type = "text/css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type = "text/css">

    {% endblock %} 

    <div id = "wrapper">

    <header>
        <img src="{% static "flat/onigiri.png" %}">
        {% if user.is_authenticated %}
        <img id = "twi-icon" src={{image_url}}>  
        {% endif %}
    </header> 
    <main>
    {%block content%}
    {%endblock%}
    </main>
    <div id="nav-space">
    </div>
    <nav>
        <div class="nav-box">
            <a href="/"></a> 
            <i class="fas fa-exclamation"></i>
            <p>お題一覧</p>
        </div>
        <div class="nav-box">
            <a href="/hold"></a>
            <i class="fas fa-question"></i>
            <p>お題投稿</p>
        </div>
        {%if not user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "social:begin" "twitter"%}"></a>
            <i class="fas fa-sign-in-alt"></i>
            <p>ログイン</p>
        </div>
        {% endif %}
        {%if user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "logout"%}"></a>
            <i class="fas fa-sign-out-alt"></i>
            <p>ログアウト</p>
        </div>
        {% endif %}
    </nav>
    </div>

</body> 
</html>

    