{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Onigiri</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Onigiriは大喜利のお題をサイトに投稿&回答してtwitter上にあげることできるサービスです。目指せ大喜利王！">
    <meta name="keywords" content="大喜利,twitter,ボケて,ipponグランプリ">
    <meta name="google-site-verification" content="xuxHLYZj134Bd6mj2ZrTdUvLaJaQtEvOwINCShiP4HA" />
    <script src="https://kit.fontawesome.com/9110abeef8.js" crossorigin="anonymous"></script>
    <script src="{% static "script.js" %}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{%static "flat/onigiri-icon.png"%}">
    <link rel="icon" type="image/x-icon" href="{%static "flat/onigiri-icon.png"%}">
</head>


<body>
    {% block extrahead %}
    <link href="{% static 'reset.css' %}" rel="stylesheet" type = "text/css">
    <link href="{% static 'style.css' %}" rel="stylesheet" type = "text/css">

    {% endblock %} 

    <p>{{flash_message}}</p>
    <div id = "wrapper">

    <header>
        <img src="{% static "flat/onigiri.png" %}">
        {% if user.is_authenticated %}
        <a href = "https://twitter.com/{{user}}">
        <img id = "twi-icon" src={{image_url}}>  
        </a>
        {% endif %}
    </header> 
    <main>
    {%block content%}
    {%endblock%}
    </main>
    <div id="nav-space">
    </div>
    <nav>
        <div class="nav-box">
            <a href="/"></a> 
            <i class="fas fa-exclamation"></i>
            <p>お題一覧</p>
        </div>
        <div class="nav-box">
            <a href="/hold"></a>
            <i class="fas fa-question"></i>
            <p>お題投稿</p>
        </div>
        {%if not user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "social:begin" "twitter"%}"></a>
            <i class="fas fa-sign-in-alt"></i>
            <p>ログイン</p>
        </div>
        {% endif %}
        {%if user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "logout"%}"></a>
            <i class="fas fa-sign-out-alt"></i>
            <p>ログアウト</p>
        </div>
        {% endif %}
    </nav>
    </div>

</body> 
</html>

    