{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/9110abeef8.js" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'script.js' %}">
     </script>
     <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@dabadabajajaja" /> <!--②-->
    <meta property="og:url" content="https://saruwakakun.com/html-css/reference/twitter-card" /> <!--③-->
    <meta property="og:title" content="記事のタイトル" /> <!--④-->
    <meta property="og:description" content="記事の要約（ディスクリプション）" /> <!--⑤-->
    <meta property="og:image" content="image.jpg" /> <!--⑥-->
</head>
<body>
    {% block extrahead %}
      <link href="{% static 'reset.css' %}" rel="stylesheet">
      <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    

    <div class="wrapper">
        <div class="navigation">
            <div class="navigation-wrapper">
                <div class="command">
                    <img src="{% static "flat/onigiri.png" %}">    <span>Onigiri</span>
                </div>
                <div class="command">
                    {%if user.is_authenticated%}
                    <img src="/media/{{request.user}}.jpg">

                    <a>{{request.user}}さん</a>
                    
                    {%endif%}
                </div>
                <div class="command">
                    <a href="/hold"><i class="fas fa-plus"><i class="far">開催</i></i></a>
                </div>      
                
                <div class="command">
                    <a href="/"><i class="far fa-hand-paper">参加</i></a>
                </div>
                {%if not user.is_authenticated%}
                <div class="command">
                    <a class="twitter-login" href="{% url "social:begin" "twitter"%}"><i class="fab fa-twitter"></i>ログイン</a>
                </div>
                {%endif%}
                {%if user.is_authenticated%}
                <div class="command">
                    <a class="twitter-logout" href="logout"><i class="fab fa-twitter"></i>ログアウト</a>
                </div>
                {%endif%}
            </div>
        </div>
        <main>
            {%block content%}
            {%endblock%}
        </main>
        <div class="right-side">
            
            {% comment %} <form action="">
                <input type="text" placeholder="キーワード検索">
                <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
            </form> {% endcomment %}
        </div>   
    </div>
</body>
</html>

    