
{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onigiri</title>
    <script src="https://kit.fontawesome.com/9110abeef8.js" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'script.js' %}">
     </script>
     <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@mani18041601" /> <!--②-->
    <meta property="og:url" content="https://omusubi.herokuapp.com/detail/{{competition.id}}" /> <!--③-->
    <meta property="og:title" content="お題" /> <!--④-->
    <meta property="og:description" content="大喜利" /> <!--⑤-->
    <meta property="og:image" content="https://manibacket.s3.amazonaws.com/media/img_{{competition.id}}.jpg"/>
</head>
<body>
    {% block extrahead %}
      <link href="{% static 'reset.css' %}" rel="stylesheet">
      <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    

    <div class="wrapper">

        <div id="modal_window{{competition.id}}" class="modal_window">
            <div class="modal_window_wrapper">
                <h1 id="modal_theme">{{competition.theme}}</h1>
                <form action="/post/{{competition.id}}" method="post">
                    {% csrf_token %}
                    <textarea name="content"></textarea>
                    <input type="submit" value="tweetする" class="tweet_btn"> 
                </form>
                <input type="button" value="閉じる" class="close_btn" onclick="close_modal_window({{competition.id}})">
            </div>
        </div>
        <div class="navigation">

            <div class="navigation-wrapper">
                <div class="command">
                    {%if user.is_authenticated%}

                    <a>{{user}}さん</a>
                    {%endif%}

                </div>
                <div class="command">
                    <img src="{% static "flat/onigiri.png" %}">    <span>Onigiri</span>
                </div>
                <div class="command">
                    <a href="/hold"><i class="fas fa-plus"><i class="far">開催</i></i></a>
                </div>      
                
                <div class="command">
                    <a href="/"><i class="far fa-hand-paper">参加</i></a>
                </div>
                {%if not user.is_authenticated%}
                <div class="command">
                    <a class="twitter-login" href="{% url "social:begin" "twitter" %}"><i class="fab fa-twitter"></i>ログイン</a>
                </div>
                {%endif%}
                {%if user.is_authenticated%}
                <div class="command">
                    <a class="twitter-logout" href="/logout"><i class="fab fa-twitter"></i>ログアウト</a>
                </div>
                {%endif%}
                
            </div>
        </div>
        <main>
            <div class="theme">
            <input class="img" type="image" src="{{competition.img.url }}" onclick="show_modal_window({{competition.id}})" >


            <div class="participants">
                <span class="far fa-hand-paper">{{competition.population}}</span>
            </div>
        
            
        </main>
        
    </div>

</body>
</html>

