{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Onigiri</title>
    <script src="https://kit.fontawesome.com/9110abeef8.js" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'script.js' %}">
    </script>
    <meta name="twitter:card" content="summary_large_image" /> <!--①-->
    <meta name="twitter:site" content="@mani18041601" /> <!--②-->
    <meta property="og:url" content="https://omusubi.herokuapp.com/detail/{{competition.id}}" /> 
    <meta property="og:title" content="お題" /> <!--④-->
    <meta property="og:description" content="大喜利" /> <!--⑤-->
    <meta property="og:image" content="https://manibacket.s3.amazonaws.com/media/img_{{competition.id}}.jpg"/>  
    {% endblock meta %}
</head>

<body>
    {% block extrahead %}
    <link href="{% static 'reset.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    {% endblock %}
    <header>
        <img src="{% static "flat/onigiri.png" %}">
        {% if user.is_authenticated %}
        <img id = "twi-icon" src={{image_url}}>  
        {% endif %}
    </header>

    <main>
        <div class="theme-space">
        </div>
        <div class="theme">
            <img class="img" src="{{competition.img.url }}" />
            <div class="participants">
                <span class="far fa-hand-paper">{{competition.population}}</span>
            </div>
        </div>
        <form class="post-form" action="/post/{{competition.id}}" method="post">
        {% csrf_token %}
            <textarea name="content" class="post-textarea"></textarea>
            <br>
            <input type="submit" value="tweetする" id="twi-btn"> 
        </form>
    </main>

    <div id="nav-space">
    </div>
    <nav>
        <div class="nav-box">
            <a href="/"></a> 
            <i class="fas fa-exclamation"></i>
            <p>お題一覧</p>
        </div>
        <div class="nav-box">
            <a href="/hold"></a>
            <i class="fas fa-question"></i>
            <p>お題投稿</p>
        </div>
        {%if not user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "social:begin" "twitter"%}"></a>
            <i class="fas fa-sign-in-alt"></i>
            <p>ログイン</p>
        </div>
        {% endif %}
        {%if user.is_authenticated%}
        <div class="nav-box log-box">
            <a href="{% url "logout"%}"></a>
            <i class="fas fa-sign-out-alt"></i>
            <p>ログアウト</p>
        </div>
        {% endif %}
    </nav>

</body> 
</html>


