{% extends 'flat/base.html' %}
{% load static %}
{%block content%}

{%if not user.is_authenticated%}
<div id="descript">
    <div id="zigazo-wrapper">
        <img src="{%static "flat/管理人.png"%}" id="zigazo">
    </div>
    <div id = "explain">
        <p>このサイトはtwitter上でipp⚫︎nグランプリができるサイトです。</p>
        <p>twitterアカウントでログインしてお題をクリックするとお題画像と共に回答をtwitterに投稿できます。</p>
        <p>自分でお題を考えてサイトに掲載してみんなに回答してもらうこともできます。</p>
        <p>全ての機能が無料です。</p>
        <p>ではよろしゅう。</p>
    </div>
</div>
{%endif%} 


{%for competition in competition_list%}
    <div class="theme-space">
    </div>    
    <div class="theme">
        <a href="detail/{{competition.id}}">
        <img class="img" src="{{competition.img.url }}" />
        </a>
        <div class="participants">
            <span class="far fa-hand-paper">{{competition.population}}</span>
        </div>
    </div>
    
{% endfor %} 

<ul id="pagenation">
    <!-- 前へ の部分 -->
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    <!-- 数字の部分 -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li id="now-page"><a href="#!">{{ num }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}

